<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="Ducky" status="INFO" strict="true">
    <Appenders>
        <Console name="Console Appender">
            <PatternLayout>
                <Pattern><![CDATA[%d{HH:mm:ss.SSS} [%t] %-5level %logger{0} - %msg%n]]></Pattern>
            </PatternLayout>
            <Filters>
                <ThresholdFilter level="INFO"/>
            </Filters>
        </Console>
        <!--<File name="File Appender" fileName="log/ducky.log" createOnDemand="true">
           <PatternLayout>
               <Pattern><![CDATA[%d{HH:mm:ss.SSS} [%thread] %-5level %logger{0} - %msg%n]]></Pattern>
           </PatternLayout>
       </File>-->
   </Appenders>
   <Loggers>
       <Root level="INFO">
           <AppenderRef ref="Console Appender"/>
           <!--<AppenderRef ref="File Appender"/>-->
      </Root>
  </Loggers>
</Configuration>