<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="Ducky" status="INFO" strict="true">
    <Appenders>

        <Console name="Console Appender">
            <PatternLayout>
                <Pattern><![CDATA[%d{HH:mm:ss.SSS} [%t] %-5level %logger{0} - %msg%n]]></Pattern>
            </PatternLayout>
            <Filters>
                <ThresholdFilter level="INFO"/>
            </Filters>
        </Console>


        <RollingFile name="File Logger" fileName="log/ducky.log" filePattern="log/ducky-%d{yyyy-MM-dd}.log.gz">
           <PatternLayout>
               <Pattern><![CDATA[%d{HH:mm:ss.SSS} [%thread] %-5level %logger{0} - %msg%n]]></Pattern>
           </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="5MB" />
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>

   </Appenders>
   <Loggers>
       <Root level="INFO">
           <AppenderRef ref="Console Appender"/>
           <AppenderRef ref="File Logger"/>
      </Root>
  </Loggers>
</Configuration>